attr==0.3.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==45.0.5
ctransformers==0.2.27
docutils==0.21.2
filelock==3.18.0
Flask==3.1.1
HTMLParser==0.0.2
ipython==9.4.0
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
langdetect==1.0.9
Pillow==11.3.0
protobuf==6.31.1
pyOpenSSL==25.1.0
redis==6.2.0
spacy==3.8.7
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
Cython==3.0.10
Flask-Cors==4.0.0